#root {
  max-width: 1680px;
  margin: 0 auto;
  padding: 2rem 3rem;
  text-align: center;
}

.container {
  width: 90vw;
}

.container__title {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 1rem;
}

.heading {
  text-align: start;
  font-size: 1.4rem;
  padding-bottom: 1rem;
}

.user__email {
  text-transform: lowercase;
}

.user__website {
  text-transform: none;
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

.form__text {
  color: darkgrey;
  text-align: center;
  padding: 0;
  margin: 0;
}

